*{
	box-sizing: border-box;
	font-family:calibri,verdana,arial;
	line-height: 1.5;
}

nav{
	position: sticky;
	top: 0;
	left: 662px;
	height: 75px;
	background-color: #ffffff;
	z-index: 999;
	overflow: hidden;
	border-bottom: 2px solid #1a4f85;
}

nav ul{
	margin: 0;
	height: 50px;
}

nav ul li{
	display: inline-block;
	padding: 10px 20px;
	height: 20px;
}

nav li a{
	padding: 5px;
}
nav li a:hover{
	text-decoration: none;
	color: black !important;
	background-color: orange;
	border-radius: 10px;
}
nav li a, a:visited{
	margin: 10px;
	color: black;
	text-decoration: none;
}

nav li:hover{
	color: black !important;
}

table{
	width: 25%;
	border-collapse: collapse;
	border: 2px solid black;
}

thead,td,tr,th{
	border: 1px solid black;
}

thead{
	height: 15px;
	text-align: center;
	vertical-align: center;
	padding: 10px;
}

thead tr{
	background-color: #000;
	color: #FFF;
}

td{
	height: 13px;
	text-align: center;
	vertical-align: center;
	padding: 10px;
}

#searchForm{
	position: relative;
	margin: 0 auto;
	width: 600px;
}

#searchText{
	width: 400px;
	display: inline-block;
}

