{% extends 'base.html' %}

{% block body %}
<!-- <article>
		<h1>Cheers!</h1>
		<p>Here's your beer!</p>
		<br>
</article> -->
<article id="beerInfo">
	<!-- <h3>Name: {{ beer_name }}</h3>
	<br>
	<h3>Brewer: {{ brewer }}</h3>
	<br>
	<h2>Locale: {{ brewer_location }}</h2>
	<br> -->

	{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul class=flashes>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
  	{% endwith %}
  

	<aside>
		{{ results_table }}
	</aside>

	<br>
	<h2>Rating: {{ rating }}</h2>
	<aside id="ratingForm">
		<p>Submit a ranking of the beer:</p>
		<form action="/beers?beer_id={{beer_id}}" method="post" name="ratingPost">
			<div class="form-group">
				<select id="rating" name="rating">
					<option value="1">Never Again</option>
					<option value="2">Ehhh, Maybe</option>
					<option value="3">Meh</option>
					<option value="4">Mmmmm..</option>
					<option value="5">OMG</option>
				</select>
			</div>
			<div id="beer_id" name="beer_id" type="hidden" value="{{ beer_id }}"></div>
			<button id="submit" type="submit" class="btn btn-primary">Submit</button>
		</form>
	</aside>
	<br>

</article>

</article>
</br>
{% endblock %}