{% extends 'base.html' %}

{% block body %}

<h2> {{ brewer }} </h2>
<h4> {{ city }}, {{ country }} </h4>

<p> {{ noBeers }} </p>

<article id="randomBeers">
	{{ brewersBeersTable }}
</article>

<h4> Add a new beer! </h4>
<article id="addBeerForm">
	<form action="" method="post" novalidate>
		<div class="form-group">
			{{ form.hidden_tag() }}
			<p>
				{{ form.name(size=150, placeholder="Enter the beer name", class_="textField") }}
			</p>
			<p>
				{{ form.type_id }}
			</p>
			<p>
				{{ form.abv(size=150, placeholder="Enter the alcohol , ie '5.2'", class_="textField") }}
			</p>
			<p>
				{{ form.price(size=150, placeholder="Enter the price, ie '7.50'", class_="textField") }}
			</p>
			<p>{{ form.submit(class_="btn btn-primary") }}</p>
		</div>
	</form>
</article>

{% endblock %}