{% extends 'base.html' %}

{% block body %}
<article>
		<p>Go ahead and search for a beer, style or brewery below, and we'll see if we have in our inventory!</p>
		<p>You can also add the beer to your cart right from the page!</p>
		<br>
</article>
<article id="randomBeers">
	{{ randBeersTable }}
</article>
<article id="searchForm">
	<form action="" method="post" novalidate>
		<div class="form-group">
			{{ form.hidden_tag() }}
			<p>
				{{ form.searchText(size=150, placeholder="Enter a beer, style, or brewery", class_="textField") }}
			</p>
			<p>
				{{ form.searchType }}
			</p>
			<p>{{ form.submit(class_="btn btn-primary") }}</p>
		</div>
	</form>
</article>
</br>
{% endblock %}